$primary: #41acff;
$lightbggrey: #f4f4f4;
$lightblue: #d9f3fd;
$darkgrey: #2f2f3b;
$lightgrey: #989898;
$warmgrey: #414059;
$darkblue: #00537e;
$lightblue: #D9F3FD;
$red: #f66;
$green: #009a01;
$darkgreen: #008a00;
$blue: #41acff;
$yellow: #fec123;
$error: #dc3545;
$rental: #53C999;
$white: #ffffff;

/*
CSS var dump
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --dodger-blue: #41acff;
    --golden-yellow: #fec123;
    --pale-sky-blue: #c7e6ff;
    --dusk: #414059;
    --salmon: #ff6666;
    --fresh-green: #7bcb58;
    --light-white: #f4f4f4;
    --black: #000000;
    --pale: #f9e0d9;
    --white: #ffffff;
    --light-grey: #dddddd;
    --medium-grey: #c6c6c6;
    --dark-grey: #4a4a4a;
    --very-light-grey: #eaeaea;
    --dark-grey-two: #191c22;
    --grey-light: #cccccc;
    --green-hover: #6FBC4B;
    --blue-hover: #00aeef;
    --select-grey: #a7a7a7;
*/